body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fbfc;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  text-align: center;
  background-color: #F6ECEC;
  color: white;
  padding: 2em 1em;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 2em 1em;
}

h2 {
  text-align: center;
  color: #4E3C4B;
  margin-bottom: 1em;
}

.project-container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.project-card {
  border-left: 4px solid 	#FFFCF9;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: none;
  border-radius: 0;
  transition: background 0.3s ease;
}

.project-card:hover {
  background: rgba(189, 169, 195, 0.05);
}

.project-card h3 {
  font-size: 1.5rem;
  color: #274472;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.project-card p {
  font-size: 1rem;
  color: #444;
  line-height: 1.7;
}

.project-card a {
  font-size: 0.95rem;
  color: #7E6B8F;
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  margin: 3em 0 1em;
}
